$cBlack: black;

.mobile-menu-icon {
    background-color: transparent;
    border: none;

    & > span {
        background-color: $cBlack;
        width: 35px;
        height: 2px;
        display: block;
        margin-bottom: 9px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}