$cBlack: black;

body {
    text-align: center;
}

.rect {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: $cBlack;
    animation: sk-bouncedelay 1.4s ease;
    // animation-timing-function: ease;
    // animation-delay: 3s;
    // animation-iteration-count: infinite;
    // animation-direction: alternate-reverse;
    // animation-fill-mode: both;
    
}
.paused {
    animation-play-state: paused;
}

@keyframes sk-bouncedelay {
    from {
        transform: scale(0);
        background-color: black;
    }
    
    to {
        transform: scale(1);
        background-color: green;
    }
}